.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    input {
      width: 200px;
      height: 30px;
    }

    button {
      width: 210px;
      height: 30px;
      border: none;
      background-color: purple;
      color: white;
      cursor: pointer;
    }

    span{
      font-style: 12px;
      color: red;
    }
  }
}
